<!--Semen Khlavich-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <style rel="stylesheet">
        #container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 1000px; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 50px;
        }

        .item {
            flex: 0 0 calc(33.33% - 20px);
            padding: 20px;
            margin: 10px;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
            padding: 20px 30px;
            background: rgba(255,255,255,0.6);
}
        }

        * {
            box-sizing: border-box;
        }
    </style>
    <header>
        <a href="/home.html"><img class="logo" src="images/whc.jpg" alt=""></a>
        <nav class=" navbar navbar-expand-lg navbar-light text-dark ">
            <div class=" navbar-nav  mx-auto">
                <ul class="nav navbar-nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active text-light" href="#">HOSTING & SERVERS</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">DOMAIN NAMES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">WEBSITES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">EMAIL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ONLINE MARKETING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SECURITY & SSL</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="herosection">
        <img src="images/man2.png" style="width: 720px; margin-left: 20%; position: absolute;">
        <span class="openname" style="width: 720px; margin-left: 35%; position: relativce;">Choose A Plan For Your
            Needs...</span>
    </div>

    <div id="container" style="">
        {{# each rows}}
        <div class="item text-center">
            
            <h2>{{ this.m_name }}</h2>
            {{ this.m_desc }}<br>
            <span>As low as</span>
            <span class="price"><strong>C${{ this.m_price }}</strong>/mo</span>
            <a href="" class="btn btn-lg btn-block btn-danger mt-4 mb-3">Add to Cart</a>
            <div class="detailsplans">
                <ul>
                    <li>
                        {{ this.feature1 }}<br>
                    </li>
                    <li>
                        {{ this.feature2 }}<br>
                    </li>
                    <li>
                        {{ this.feature3 }}<br>
                    </li>
                    <li>
                        {{ this.feature4 }}<br>
                    </li>
                    <li>
                        {{ this.feature5 }}<br>
                    </li>
                    <li>
                        {{ this.feature6 }}<br>
                    </li>
                    <li>
                        {{ this.feature7 }}<br>
                    </li>
                    <li>
                        {{ this.feature8 }}<br>
                    </li>
                    <li>
                        {{ this.feature9 }}<br>
                    </li>
                    <li>
                        {{ this.feature10 }}<br>
                    </li>
                </ul>
            </div>
        </div>
        {{/each}}
    </div>


    <!-- Footer -->
    <footer class=" text-white" style="background-color: #3e3059;">
        <!-- Grid container -->
        <div class="container p-5 mx-auto" id="footermenu">
            <!-- Section: Images -->
            <div class="row">
                <div class="col-lg-1" style="margin-left: auto">
                    <p>HOSTING & SERVERS</p>
                    <a href="d">Canadian Web Hosting<br></a>
                    <a href="d">Canadian Cloud Servers<br></a>
                    <a href="d">Reseller Web Hosting<br></a>
                    <a href="d">Dedicated Servers<br></a>
                    <a href="d">Managed WordPress<br></a>
                    <a href="d">Anycast DNS<br></a>
                    <a href="d">Free Website Migration<br></a>

                </div>
                <div class="col-lg-1">
                    <p>DOMAIN NAMES</p>
                    <a href="d">Domain Name Search<br></a>
                    <a href="d">Domain Name Transfer<br></a>
                    <a href="d">Weebly Site Builder<br></a>

                </div>
                <div class="col-lg-1">
                    <p>WEBSITES</p>
                    <a href="d">SSL Certificates<br></a>
                    <a href="d">SiteSafe Protection<br></a>
                    <a href="d">Enterprise Anti-Spam<br></a>
                    <a href="d">Domain Privacy Protection<br></a>

                </div>
                <div class="col-lg-1">
                    <p>EMAIL</p>
                    <a href="d">Search Engine Optimization<br></a>
                    <a href="d">Email Marketing<br></a>
                    <a href="d">Affiliate Program<br></a>

                </div>
                <div class="col-lg-1">
                    <p>ONLINE MARKETING</p>
                    <a href="d">Blog & News<br></a>
                    <a href="d">About WHC<br></a>
                    <a href="d">WHC Reviews<br></a>
                    <a href="d">Green Web Hosting<br></a>
                    <a href="d">Contact us<br></a>
                    <a href="d">Careers<br></a>

                </div>
                <div class="col-lg-1" style="margin-right: auto">
                    <p>SECURITY & SSL</p>
                    <a href="d">Help Center<br></a>
                    <a href="d">Open Support Ticket<br></a>
                    <a href="d">Check System Status<br></a>
                </div>
            </div>
            <br>
            <br>
            <div class="social-media">
                <a href="https://twitter.com/webhostcanada" class="fa fa-twitter"></a>
                <a href="https://www.facebook.com/WHC.CA" class="fa fa-facebook"></a>
                <a href="https://www.youtube.com/c/WhcCa?sub_confirmation=1" class="fa fa-youtube"></a>
                <a href="https://www.instagram.com/whc.ca/" class="fa fa-instagram"></a>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="/">Web Hosting Canada</a>
        </div>
    </footer>
</body>

</html>